/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.in-lobby {
  position: absolute;
  margin-left: 20px;
}

body {
  background-color: green;
}

/******************************************
  /* LAYOUT
  /*******************************************/

.player1,
.player2,
.player3,
.player4,
.player5,
.player6 {
  display: flex;
  margin: 10px;
  flex-direction: row;
}

.btn-select {
  border: none;
  border-radius: 6px;
  padding: 2px 8px;
}

.p1-card1,
.p1-card2,
.p1-card3,
.p1-card4,
.p2-card1,
.p2-card2,
.p2-card3,
.p2-card4,
.p3-card1,
.p3-card2,
.p3-card3,
.p3-card4,
.p4-card1,
.p4-card2,
.p4-card3,
.p4-card4,
.p5-card1,
.p5-card2,
.p5-card3,
.p5-card4,
.p6-card1,
.p6-card2,
.p6-card3,
.p6-card4 {
  /* margin: 3px; */
  border-radius: 4px;
  width: 40px;
  height: 80px;
  /* width: 175px;
  height: 225px; */
}

.players,
.enter-players-name {
  font-size: 2rem;

  letter-spacing: 2px;
}

.card-container {
  text-align: center;
}

.players.btn,
.rules.btn {
  font-size: 1.5rem;
  margin: 2%;
  padding: 20px 50px;
  width: 45%;
}

.btn-container {
  /* display: none; */
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
}

.color-result,
.higher-result,
.in-result,
.suit-result {
  width: 100px;
  text-align: center;
}

img {
  margin: 0 auto;
  width: 100px;
  font-size: 10px;
}

h4 {
  font-size: 15px;
}
.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 225px;
  flex-wrap: wrap;
}

.game-container.hidden {
  display: none;
}

.start-game {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-label {
  font-size: 1.5rem;
}

.p-form {
  /* margin: 10px 0; */
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

input[type="text"] {
  /* margin-top: 50px; */
  width: 200px;
  height: 30px;
  font-size: 1.2rem;
}

.header {
  font-size: 2rem;
  color: #fff;
}

.btn {
  /* margin: 5px; */
  color: #fff;
  /* padding: 20px 60px; */
  padding: 10px 20px;
  font-size: 2rem;
  margin: 20px 15px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: limegreen;
}

.btn:hover,
.player-select:hover {
  background-color: black;
  color: white;
}

.game-start-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-start-container.hidden {
  display: none;
}

.players-modal,
.players-modal1,
.outcome-container {
  position: fixed;
  font-size: 2.5rem;
  text-align: center;
  background-color: orange;
  height: 70vh;
  /* background-color: transparent; */
  /* opacity: 0.9; */
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #ccc; */
  border-radius: 12px;

  /* margin: 0 auto; */
}

.rules-container {
  position: fixed;
  /* font-size: 2.5rem; */
  text-align: center;
  background-color: white;
  height: 500px;
  width: 600px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  border-radius: 6px;
}

.players-modal.hidden,
.rules-container.hidden {
  display: none;
}

.hidden {
  display: none;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
