/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/

.player1 {
  display: flex;
  /* flex-direction: row; */
}
img {
  margin: 0 auto;
  width: 200px;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
